.icon-medium {
  font-size: 20px;
}

/*[class^="video-info-participant-"] {
  position: absolute;
  margin-top: -40px;
  margin-left: 20px;
}

[class^="audio-info-participant-"] {
  position: absolute;
  margin-top: -40px;
  margin-left: 50px;
}*/
